.messages-panel {
	&-header {
		border-bottom: 1px solid #ebebeb;
		padding: 1rem 0;

		&__image-container {
			display: flex;
		}

		&__image {
			width: 5rem;
			height: 5rem;
		}

		&__infor {
			margin-left: 1rem;
		}

		&__name {
			font-size: 1.5rem;
			margin-bottom: 5px;
		}
	}

	&-main {
		height: 75vh;
		overflow-y: auto;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		background: #f9f9f9;
	}
}
